mixin panel(title, employees)
  - var totalNumber = (title === 'Absence') ? absences.length : holidays.length
  - var displayOnPanel = totalNumber
  - for (var i = 0; i < employees.length; i += displayOnPanel)
      .slider--slide.js-panel
        h3.title__absence=title
        ul.block-container
          - for (var n = 0; n < displayOnPanel; n += 1)
            - var item = n + i
            - var employee = employees[item]

            if employee != undefined
              +list-item(employee)


mixin list-item(data)
  - var imgClasses = []
  - var dayStr = ''

  if (data.duration <= 2)
    - dayStr = 'day'
    - imgClasses.push('image-block__image--single')
  else
    - dayStr = 'days'
    - imgClasses.push('image-block__image--multiple')

  li.image-block
    .image-block__image
      img.js-avatar(height='72', width='72', src=employeeImages[data.name], alt=data.name, class=imgClasses.join(' '))

    span.days-left #{data.duration}&nbsp;#{dayStr}

mixin no-employees(title)
  .slider--slide.js-panel
    h3.title__absence=title
    .absenteeWidget__absenteeInformation No one off today

extends layout

block content
  span(data-absences=JSON.stringify(absences))
  span(data-holidays=JSON.stringify(holidays))

  .pagination
    ul.controls

  .viewer
    .slider-container(class=(absences.length <= 3 && holidays.length <= 3 ? "stacked" : ""))
        if absences && absences.length > 0
          +panel("Absence", absences)
        else
          +no-employees("Absence")

        if holidays && holidays.length > 0
          +panel("Holiday", holidays)
        else
          +no-employees("Holiday")

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src=versionPath('/javascripts/index.js'))
